*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    height: 100vh;
}
nav{
    height: 80px;
    width: 100%;
    /* background-color: black; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu{
    height: 50px;
    width: 300px;
    background-color:#7f7f7f;
    /* background-color: white; */
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    position: fixed;
    z-index: 999;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.3s linear;
    
}
.home:hover{
    transition: all .2s linear;
    transform: scale(1.2);
}
.pro:hover{
    background-color: white;
    transition: all .2s linear;
    transform: scale(1.2);
}
.con:hover{
    background-color: white;
    transition: all .2s linear;
    transform: scale(1.2);
}
.menuu{
    height: 90%;
    width:27%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 1.5px;
    /* background-color: white; */ 
}
.home{
    background-color: white;
}
.heading{
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    font-size: 40px;
    /* padding-top: 100px; */
}
.option{
    height: 50px;
    width: 430px;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    position: relative;
    top: 100px;
    left: 550px;
   
}
.option a{
    text-decoration: none;
    color: black;
}
.option:hover{
    color: white;
}
.opt{
    height: 100%;
    width: 100px;
    /* border: 2px solid black; */
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7f7f7f;
    
}
.opt:hover{
    transition: all .2s linear;
    transform: scale(1.2);
    
}
main{
    height: 150vh;
    width: 100vw;
    /* background-color: aqua; */
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.gallery img{
    height: 400px;
    width: 500px;
    border-radius: 20px;
}
.gallery img:hover{
    transition: all .2s linear;
    transform: scale(1.1);
}
footer{
    height: 70vh;
    padding-top: 200px;
    padding-left: 550px;
    position: relative;
}
footer h2{
    color: black;
    font-size: 40px;
    padding-top:50px;
}
footer span{
    color: #7f7f7f;
    padding-left: 55px;
}
footer .foot{
    height: 80px;
    width: 100%;
    /* background-color: yellow; */
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
   
}
.left{
    height: 100%;
    width: 30%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.left i{
   font-size: 30px;
}
.right{
    height: 100%;
    width: 20%;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
.right a{
    text-decoration: none;
   
    color: black;
}
.link1:hover{
    text-decoration: underline;

}

